.login {
    height: 100vh;
}

.admin-img {
    width: 90%;
    height: 90%;
    object-fit: contain;
}
.login .form-group {
    margin-bottom: 1.7rem;
}
.login .form-control { 
    border-left: none;
    height: calc(1.5em + 1rem + 2px);
}
.login .form-control:focus { 
    border-left: none;
}

.login .login-icon {
    color: var(--title);
    border: 1px solid rgb(206, 212, 218);
    border-right: none;
    background-color: #fff;
    height: calc(1.5em + 1rem + 2px);
    width: calc(1.5em + .75rem + 15px);
    padding: 0 18px 0 3px;
}

.login .login-icon-lock {
    padding: 5px 18px 5px 5px;
}
.login .btn-login-icon {
    margin-right: 5px;
}

.login .btn.btn-primary {
    background-color: var(--title);
    border-color: var(--title);
    width: 40%;
    text-align: center;
}